* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, main{
    min-height: 100vh; 
    display: flex;
    flex-flow: column no-wrap;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}



main section {
    display: flex;
    width: 760px;
    height: 555px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    flex-direction: column;
    flex-wrap: wrap;
}

main section figure  {
    width: 50%;
    height: 100%;
}
main section figure picture img.desktop {
    width: 100%;
    height: 100%;
    filter:contrast();
    border-bottom-left-radius: 2%;
    border-top-left-radius: 2%;
    -webkit-filter:contrast();
}
main section figure picture img.mobile {
    display: none;
}

main section h1 {
    width: fit-content;
    margin: 35px 0px 20px 15px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-size: 0.9em;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
}
main section h2 {
    font-family: 'Fraunces', sans-serif;
    width: 300px;
    padding-left: 15px;
    font-size: 2.5em;
    color: hsl(212, 21%, 14%);
    line-height: 1;
    margin-bottom: 30px;
}
main section p.main-text {
    width: 300px;
    padding-left: 15px;
    font-size: 1.029em;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 1.8;
    margin-bottom: 30px;
}

.prices {
    display: flex;
    width: 250px;
    margin-bottom: 30px;
    justify-content: space-around;
    align-items: center;
    
}
.new-price {
    color: #3c8067;
    font-size: 40px;
    font-family: 'Fraunces', sans-serif;
}
.old-price {
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 100;
}

main section button {
   background-image: url(./images/icon-cart.svg);
   background-repeat: no-repeat;
   background-position: 29% 48%;
   background-size: 1em;
   width: 300px;
   padding: 20px;
   padding-left: 30px;
   font-size: 1em;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #3c8067;
   font-weight: bold;
   color: white;
   font-family: 'Montserrat', sans-serif;
   border: none;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
main section button:hover {
    background-color:   hsl(157, 37%, 22%);
}

footer {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 40%;
}
footer:hover {
    visibility: visible;
    position: absolute;
    bottom: 0;
    left: 40%;
}

@media only screen and (max-width:823px) {
    main section{
        display: flex;
        width: 400px;
        height: 750px;
        background-color: #fff;
        flex-direction: column;
        flex-wrap: nowrap;
        
}
main section figure picture img.desktop {
    display: none;
}
main section figure {
    display: block;
}
main section figure picture img.mobile {
    display: block;
    width: 400px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
main section h1 {
    margin-left: 25px;
    margin-bottom: 10px;
    width: fit-content;
}
main section h2 {
    width: 360px;
    font-size: 35px;
    padding-left: 25px;
}
main section .main-text {
    width: 360px !important;
    margin-left: 10px;
}
.prices {
    margin-left: 10px;
}
    
button {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 340px !important;
    
    
}
footer {
    visibility: hidden;
    left: 5%;
}
footer:hover {
    visibility: visible;
    left: 5%;
}


}
