* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: hsl(30, 38%, 92%);
}



section {
    display: flex;
    width: 800px;
    height: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    flex-direction: column;
    flex-wrap: wrap;
}

section figure  {
    width: 50%;
    height: 100%;
}
section figure img {
    width: 100%;
    height: 100%;
    filter:contrast();
    border-bottom-left-radius: 2%;
    border-top-left-radius: 2%;
    -webkit-filter:contrast();
}

section h1 {
    width: fit-content;
    height: fit-content;
    padding: 40px 15px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-size: 0.9em;
    font-weight:lighter;
    font-family: 'Montserrat', sans-serif;
}
section h2 {
    font-family: 'Fraunces', sans-serif;
    width: 300px;
    height: 180px;
    padding-left: 15px;
    font-size: 2.5em;
    color: hsl(212, 21%, 14%);
}
section p.main-text {
    width: 300px;
    height: 140px;
    padding-left: 15px;
    font-size: 1.029em;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 1.8;
}

.prices {
    display: flex;
    width: 250px;
    padding-left: 10px;
    height: 50px;
    margin-bottom: 30px;
    justify-content: space-around;
    align-items: center;
    
}
.new-price {
    color: #3c8067;
    font-size: 35px;
    font-family: 'Fraunces', sans-serif;
}
.old-price strong {
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 100;
}
svg {
    margin-right: 10px;
}
section button {
   width: 290px;
   padding: 20px ;
   font-size: 16px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #3c8067;
   font-weight: bold;
   color: white;
   font-family: 'Montserrat', sans-serif;
   border: none;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
section button:hover {
    background-color:   hsl(157, 37%, 22%);
}

footer {
    
    position: absolute;
    bottom: 0;
    left: 40%;
}

@media (max-width:823px) {
    section{
        background-image: url(./images/image-product-mobile.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 400px 275px;
        display: flex;
        width: 400px;
        height: 730px;
        background-color: #fff;
        flex-direction: column;
        flex-wrap: nowrap;
        
}
section h1 {
    margin-top: 265px;
    padding-left: 25px;
    padding-bottom: 10px;
    height: fit-content;
    width: fit-content;
}
section h2 {
    width: 360px;
    font-size: 35px;
    padding-left: 25px;
    height: fit-content;
}
section .main-text {
    width: 360px !important;
    margin-top: 15px;
    margin-left: 10px;
}
.prices {
    margin-bottom:10px ;
}
    
button {
    margin-left: 30px;
    width: 340px !important;
    
}
footer {
    left: 5%;
}

   figure {
    display: none;
   }

}
